.about__img {
  width: 90%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.about__title {
  text-align: center;
  margin: 5%;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 10%;
  grid-template-columns: 10% 1fr 1fr 10%;
}

.about__text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.about__list {
  font-size: 1.5rem;
  list-style-position: outside;
  list-style-image: url(../img/square_about.png);
}

.about__title_teacher {
  margin-left: 5%;
  color: #FF9CB4;
}

.about__list_li {
  margin-bottom: 1rem;
}