@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik&display=swap");

.footer__titile {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.footer__content {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.video-title,
.education-title {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #5E5E5E;
}

.card-title,
.edu-card__univers,
.edu-card__years {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5E5E5E;
}

.card-text,
.edu-card__prof {
  font-family: "Rubik", sans-serif;
  color: #5E5E5E;
}

.btn-primary_sp {
  font-family: "Rubik", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 5% 1fr 50%;
  align-items: center;
  min-height: 6rem;
  padding: 0 6%;
  margin-bottom: 2%;
}

.header__logo {
  width: 90%;
}

.header__title {
  align-self: end;
  margin-left: 0;
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #5E5E5E;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.nav__item {
  font-family: "Rubik", sans-serif;
  padding: 0.7% 2%;
  border-radius: 20px;
  background-color: #5EC6C7;
}

.nav__item a {
  text-decoration: none;
  color: white;
}

.nav__item:last-child {
  background-color: #FF9190;
}

.nav__item:hover {
  background-color: #4EB6B7;
}

.nav__item:hover:last-child {
  background-color: #FF4F55;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    font-size: 0.8rem;
  }

  .header__logo {
    width: 100%;
  }

  .header__title {
    align-self: center;
    margin-left: 5%;
    width: 80%;
    font-size: 0.9rem;
  }

  .header__nav {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    grid-template-columns: 15% 1fr 60%;
  }

  .header__logo {
    width: 100%;
  }

  .header__title {
    align-self: center;
    margin-left: 5%;
    font-size: 1rem;
    line-height: 100%;
  }
}

.main__banner {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 0 6%;
}

.main__photo {
  justify-self: end;
  width: 80%;
  border-radius: 30px;
}

.main__text {
  padding: 10% 15%;
}

.main__title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 2.2rem;
  color: #5E5E5E;
}

.main__title_vivid {
  color: #FF4F55;
  padding: 0;
}

.main__slogan {
  margin: 5% auto 12% auto;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  color: #5E5E5E;
}

.main__button {
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
}

.main__button a {
  text-decoration: none;
  color: white;
}

.main__button_about {
  padding: 1.5% 8%;
  border-radius: 10px;
  border: none;
  background-color: #FF9190;
}

.main__button_about:hover {
  padding: 1.5% 10%;
  background-color: #FF4F55;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__text {
    padding: 10%;
  }

  .main__photo {
    width: 100%;
  }

  .main__title {
    font-size: 1.3rem;
  }

  .main__slogan {
    font-size: 1rem;
  }

  .main__button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .main__banner {
    display: flex;
    margin-top: 3%;
    background-image: url(../img/photo_banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 75vh;
  }

  .main__photo {
    display: none;
  }

  .main__text {
    background-color: rgba(230, 230, 250, 0.5843137255);
    border-radius: 15px;
    margin-top: 70%;
    padding: 4%;
    text-align: center;
  }

  .main__title {
    font-size: 1.2rem;
    color: #454545;
  }

  .main__title_vivid {
    color: #ff1c24;
  }

  .main__slogan {
    font-size: 0.8rem;
    color: #454545;
    margin: 5%;
  }
}

.main_intro {
  margin: 5% auto;
}

.main__subtitle {
  margin-bottom: 3%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  color: #5E5E5E;
}

.main__video {
  margin-left: 6%;
  border-radius: 30px;
  width: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__subtitle {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .main__subtitle {
    font-size: 1.4rem;
  }

  .main__video {
    margin-left: 5%;
    width: 90%;
  }
}

/*video block*/
.video-block {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  border: none;
  border-radius: 1em;
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

.video-title {
  margin: 0.5rem auto;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
}

.video-container::-webkit-scrollbar {
  display: none;
}

.card {
  max-width: 200px;
  min-width: 100px;
  min-height: 250px;
  margin: 0.7rem;
  text-align: center;
}

.card-img-top {
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 250px;
}

.card-body {
  min-height: 200px;
  padding: 1rem 1rem 0;
}

.card-body_test {
  min-height: 80px;
  padding: 1rem;
}

.card-body_oge {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.btn-primary_sp {
  margin: 1em;
  border: none;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF9190;
  --bs-btn-border-color: #FF9190;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF4F55;
  --bs-btn-hover-border-color: #FF4F55;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF4F55;
  --bs-btn-active-border-color: #FF4F55;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FF4F55;
  --bs-btn-disabled-border-color: #FF4F55;
}

/*education block*/
.education-block {
  margin-top: 2rem;
}

.education-title {
  margin: 1rem auto;
}

.education-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  /* max-height: 570px; */
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  border: none;
  border-radius: 1em;
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

.edu-card {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 0.5fr 1fr;
  /*  max-height: 120px; */
  margin: 0.7rem 2rem;
}

.edu-card__img {
  grid-row: 1/3;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  max-height: 120px;
  border-radius: 50%;
}

.edu-card__univers {
  grid-row: 1/2;
  grid-column: 2/4;
}

.edu-card__years {
  grid-row: 2/3;
  grid-column: 2/3;
}

.edu-card__prof {
  grid-row: 2/3;
  grid-column: 3/4;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .video-block {
    /* min-width: 90vw; */
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    max-width: 150px;
    margin: 0.7rem;
  }

  .card,
  .card-img-top,
  .card-body {
    max-width: 150px;
  }

  .card-body {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 300px;
  }

  .card_test {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }

  .card-text,
  .btn-primary,
  .card-title_exam {
    display: none;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .education-container {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .edu-card__img {
    max-height: 100px;
    /* min-height:fit-content; */
  }
}

@media screen and (max-width: 767px) {
  .video-block {
    /* min-width: 90vw; */
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    max-width: 150px;
    margin: 0.7rem;
  }

  .card,
  .card-img-top,
  .card-body {
    max-width: 150px;
  }

  .card-body {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 300px;
  }

  .card_test {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }

  .card-text,
  .btn-primary,
  .card-title_exam {
    display: none;
  }

  .card-title {
    font-size: 1rem;
  }

  .education-container {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .edu-card {
    margin: 0.7rem 2rem;
  }

  .edu-card__prof {
    font-size: 0.7em;
  }

  .edu-card__img {
    display: none;
  }

  .edu-card__univers {
    grid-row: 1/2;
    grid-column: 2/4;
    font-size: 1em;
    text-align: center;
  }

  .edu-card__years {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1em;
    text-align: center;
  }

  .edu-card__prof {
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: left;
  }
}

.footer {
  padding-top: 5%;
  background: #5EC6C7;
  min-height: 250px;
}

.footer .footer-information__link {
  color: white;
}

.footer a:hover {
  color: rgb(147, 144, 144);
}

.footer .footer__menu-link {
  color: rgb(234, 239, 242);
}

.footer .footer__menu-link:hover {
  color: rgb(91, 139, 182);
}

.footer .footer__menu-link:visited {
  color: #d1eef4;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .footer__titile {
    text-align: center;
  }

  .footer .footer__content {
    text-align: center;
  }

  .footer .footer-information__link {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer .footer__titile {
    text-align: center;
  }

  .footer .footer__content {
    text-align: center;
  }

  .footer .footer-information__link {
    text-align: center;
  }

  .footer .footer__menu {
    text-align: center;
  }
}

.footer__content-link {
  text-decoration: none;
  color: white;
}

.about__img {
  width: 90%;
  grid-column: 2/3;
  border-radius: 30px;
}

.about__title {
  text-align: center;
  margin: 5%;
}

.about__container {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
}

.about__text {
  grid-column: 3/4;
}

.about__list {
  font-size: 1.5rem;
  list-style-position: outside;
  list-style-image: url(../img/square_about.png);
}

.about__title_teacher {
  margin-left: 5%;
  color: #FF4F55;
}

.about__list_li {
  margin-bottom: 1rem;
}

/*gallery*/
.about__photo {
  display: grid;
  grid-area: "photo_content";
  grid-template-columns: repeat(6, 1fr);
  max-height: 500px;
  margin: 10% 5%;
  grid-column-gap: 20px;
  justify-items: center;
  align-items: center;
  grid-template-areas: "about__photo_1 about__photo_2 about__photo_3 about__photo_4 about__photo_5 about__photo_6";
}

.about__photo_1 {
  grid-area: "about__photo_1";
}

.about__photo_1:hover {
  transform: scale(1.2);
}

.about__photo_2 {
  grid-area: "about__photo_2";
}

.about__photo_2:hover {
  transform: scale(1.2);
}

.about__photo_3 {
  grid-area: "about__photo_3";
}

.about__photo_3:hover {
  transform: scale(1.2);
}

.about__photo_4 {
  grid-area: "about__photo_4";
}

.about__photo_4:hover {
  transform: scale(1.2);
}

.about__photo_5 {
  grid-area: "about__photo_5";
}

.about__photo_5:hover {
  transform: scale(1.2);
}

.about__photo_6 {
  grid-area: "about__photo_6";
}

.about__photo_6:hover {
  transform: scale(1.2);
}

.about__photo_1,
.about__photo_2,
.about__photo_3,
.about__photo_4,
.about__photo_5,
.about__photo_6 {
  max-height: 280px;
  border-radius: 15px;
  transition: 1s;
}

.about__certificate {
  display: grid;
  grid-area: "certificate_content";
  grid-template-columns: repeat(6, 1fr);
  max-height: 500px;
  margin: 5%;
  grid-column-gap: 3%;
  justify-items: center;
  align-items: center;
  grid-template-areas: "about__certificate_1 about__certificate_2 about__certificate_3 about__certificate_4 about__certificate_5 about__certificate_6";
}

.about__certificate_title {
  text-align: center;
  text-transform: uppercase;
  color: var(--bs-heading-color);
}

.about__certificate_1 {
  grid-area: "about__certificate_1";
  transition: 1s;
}

.about__certificate_1:hover {
  transform: scale(1.2);
}

.about__certificate_2 {
  grid-area: "about__certificate_2";
}

.about__certificate_2:hover {
  transform: scale(1.2);
}

.about__certificate_3 {
  grid-area: "about__certificate_3";
}

.about__certificate_3:hover {
  transform: scale(1.2);
}

.about__certificate_4 {
  grid-area: "about__certificate_4";
}

.about__certificate_4:hover {
  transform: scale(1.2);
}

.about__certificate_5 {
  grid-area: "about__certificate_5";
}

.about__certificate_5:hover {
  transform: scale(1.2);
}

.about__certificate_6 {
  grid-area: "about__certificate_6";
}

.about__certificate_6:hover {
  transform: scale(1.2);
}

.about__certificate_1,
.about__certificate_2,
.about__certificate_3,
.about__certificate_4,
.about__certificate_5,
.about__certificate_6 {
  max-height: 220px;
  transition: 1s;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about__list {
    font-size: 1rem;
  }

  .about__img {
    width: 100%;
  }

  .about__title_teacher {
    font-size: 1.4rem;
  }

  .about__photo,
  .about__certificate {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 767px) {
  .about__container {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
  }

  .about__list {
    font-size: 1rem;
  }

  .about__img {
    margin-bottom: 5%;
    width: 100%;
  }

  .about__photo,
  .about__certificate {
    overflow-x: scroll;
  }
}

/*# sourceMappingURL=overallstyle.css.map */