@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik&display=swap");
.footer__titile {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.footer__content {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 60%;
      grid-template-columns: 10% 1fr 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6rem;
  padding: 0 6%;
}

.header__title {
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  color: #5E5E5E;
}

.header__nav {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  font-family: "Rubik", sans-serif;
}

.header__nav a {
  text-decoration: none;
  padding: 0.5% 2%;
  border-radius: 10px;
  background-color: #5EC6C7;
  color: white;
}

.header__nav a:last-child {
  background-color: #FF9190;
}

.header__nav a:hover {
  background-color: #4EB6B7;
}

.header__nav a:hover:last-child {
  background-color: #FF4F55;
}

.main__banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  padding: 0 6%;
  margin-bottom: 5%;
}

.main__photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/4/2;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 80%;
  border-radius: 30px;
}

.main__title {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 0 15% 0 15%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 2.2rem;
  color: #5E5E5E;
}

.main__title_vivid {
  color: #FF4F55;
  padding: 0;
}

.main__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 15% 0 15%;
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
  color: #5E5E5E;
}

.main__button {
  padding: 0 15% 0 15%;
  font-family: "Rubik", sans-serif;
}

.main__button_about {
  padding: 1.5% 8%;
  border-radius: 10px;
  border: none;
  background-color: #FF9190;
  color: white;
}

.main__button_about:hover {
  padding: 1.5% 10%;
  background-color: #FF4F55;
}

/*video block*/
.video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  border: none;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
          box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

.video-title {
  margin: 0.5rem auto;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
}

.video-container::-webkit-scrollbar {
  display: none;
}

.card {
  max-width: 200px;
  min-width: 200px;
  min-height: 250px;
  margin: 0.7rem;
  text-align: center;
}

.card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 260px;
}

.card-body {
  min-height: 200px;
  padding: 1rem;
}

.btn-primary_sp {
  margin: 1em;
  border: none;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF9190;
  --bs-btn-border-color: #FF9190;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF4F55;
  --bs-btn-hover-border-color: #FF4F55;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF4F55;
  --bs-btn-active-border-color: #FF4F55;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FF4F55;
  --bs-btn-disabled-border-color: #FF4F55;
}

/*education block*/
.education-block {
  margin-top: 2rem;
}

.education-title {
  margin: 1rem auto;
}

.education-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  max-height: 570px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  border: none;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
          box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

.edu-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 3fr;
      grid-template-columns: 1fr 2fr 3fr;
  /* -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  max-height: 120px; */
  margin: 0.7rem 2rem;
}

.edu-card__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -o-object-position: center;
     object-position: center;
  max-height: 120px;
  border-radius: 50%;
}

.edu-card__univers {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.edu-card__years {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.edu-card__prof {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer {
  padding-top: 5%;
  background: #5EC6C7;
  min-height: 250px;
}

.footer .footer-information__link {
  color: white;
}

.footer a:hover {
  color: #939090;
}

.footer .footer__menu-link {
  color: #eaeff2;
}

.footer .footer__menu-link:hover {
  color: #5b8bb6;
}

.footer .footer__menu-link:visited {
  color: #d1eef4;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .footer__titile {
    text-align: center;
  }
  .footer .footer__content {
    text-align: center;
  }
  .footer .footer-information__link {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 10%;
  }
  .footer .footer__titile {
    text-align: center;
  }
  .footer .footer__content {
    text-align: center;
  }
  .footer .footer-information__link {
    text-align: center;
  }
  .footer .footer__menu {
    text-align: center;
  }
}

.about__img {
  width: 90%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.about__title {
  text-align: center;
  margin: 5%;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 10%;
}

.about__text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.about__list {
  font-size: 1.5rem;
  list-style-position: outside;
  list-style-image: url(../img/square_about.png);
}

.about__title_teacher {
  margin-left: 5%;
  color: #FF9CB4;
}

.about__list_li {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=overallstyle.css.map */