@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik&display=swap');

//Основной шрифт - rubik-400
$main-font: 'Rubik',
sans-serif;

$title-font: 'Raleway',
sans-serif;

$italic-font: 'Roboto',
sans-serif;


//шрифт для заголовка в футере
.footer__titile {
    font-family: $main-font;
    font-weight: 400;
}

//шрифт для текста в футере (кроме заголовка)
.footer__content {
    font-family: $main-font;
    font-weight: 300;
}

// Ильвина шрифты

//video, education,feedback

.video-title,
.education-title {
    font-family: $title-font;
    font-size: 2em;
    font-weight: 600;
    color: #5E5E5E;
}

.card-title,
.edu-card__univers,
.edu-card__years {
    font-family: $title-font;
    font-weight: 600;
    color: #5E5E5E;
}

.card-text,
.edu-card__prof {
    font-family: $main-font;
    color: #5E5E5E;
}

.btn-primary_sp {
    font-family: $main-font;
}