//colors

$main-bg-color: #F2F2F2;
$block-bg-color: #FFF;
$footer-bg-color: #5EC6C7;

$about-btn-color:#FF9CB4;
$nav-btn-color:#394C7D;
$mail-btn-color: #E7ACAA;

$sb-bg-color:#C4EBDF;

$text-color: #5E5E5E;
$pastel-warm-color: #FF9190;
$vivid-warm-color: #FF4F55;
$pastel-cold-color: #5EC6C7;
$vivid-cold-color: #4EB6B7;

//fonts
$main-font: 'Rubik', sans-serif;
$title-font: 'Raleway', sans-serif;
$italic-font: 'Roboto', sans-serif;

//footer_vars
$footer-information__link: white;
$footer-information__link_hover: rgb(147, 144, 144);
$footer__menu-link: rgb(234, 239, 242);
$footer__menu-link_hover: rgb(91, 139, 182);
$footer__menu-link_visited: #d1eef4;

//fonts

