.about__img {
    width: 90%;
    grid-column: 2/3;
    border-radius: 30px;
}

.about__title {
    text-align: center;
    margin: 5%;
}

.about__container {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
}

.about__text {
    grid-column: 3/4;
}

.about__list {
    font-size: 1.5rem;
    list-style-position: outside;
    list-style-image: url(../img/square_about.png);
}

.about__title_teacher {
    margin-left: 5%;
    color: $vivid-warm-color;
}

.about__list_li {
    margin-bottom: 1rem;
}

/*gallery*/

.about__photo {
    display: grid;
    grid-area: "photo_content";
    grid-template-columns: repeat(6, 1fr);
    max-height: 500px;
    margin: 10% 5%;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "about__photo_1 about__photo_2 about__photo_3 about__photo_4 about__photo_5 about__photo_6";

        &_1 {
            grid-area: "about__photo_1";

            &:hover {
                transform: scale(1.2);
            }
        }
        
        &_2 {
            grid-area: "about__photo_2";

            &:hover {
                transform: scale(1.2);
            }
        }
        
        &_3 {
            grid-area: "about__photo_3";

            &:hover {
                transform: scale(1.2);
            }
        }
        
        &_4 {
            grid-area: "about__photo_4";

            &:hover {
                transform: scale(1.2);
            }
        }
        
        
        &_5 {
            grid-area: "about__photo_5";

            &:hover {
                transform: scale(1.2);
            }
        }
        
        &_6 {
            grid-area: "about__photo_6";

            &:hover {
                transform: scale(1.2);
            }
        }
        
        &_1,
        &_2,
        &_3,
        &_4,
        &_5,
        &_6 {
            max-height: 280px;
            border-radius: 15px;
            transition: 1s;
        }
}

.about__certificate {
    display: grid;
    grid-area: "certificate_content";
    grid-template-columns: repeat(6, 1fr);
    max-height: 500px;
    margin: 5%;
    grid-column-gap: 3%;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "about__certificate_1 about__certificate_2 about__certificate_3 about__certificate_4 about__certificate_5 about__certificate_6";

        &_title {
            text-align: center;
            text-transform: uppercase;
            color: var(--bs-heading-color);
        }

        &_1 {
            grid-area: "about__certificate_1";
            transition: 1s;

            &:hover {
                transform: scale(1.2);
            }           
        }
        
        &_2 {
            grid-area: "about__certificate_2";

            &:hover {
                transform: scale(1.2);
            }     
        }

        &_3 {
            grid-area: "about__certificate_3";

            &:hover {
                transform: scale(1.2);
            }     
        }
        
        &_4 {
            grid-area: "about__certificate_4";

            &:hover {
                transform: scale(1.2);
            }     
        }
        
        &_5 {
            grid-area: "about__certificate_5";

            &:hover {
                transform: scale(1.2);
            }     
        }
        
        &_6 {
            grid-area: "about__certificate_6";

            &:hover {
                transform: scale(1.2);
            }     
        }      

    &_1,
    &_2,
    &_3,
    &_4,
    &_5,
    &_6 {
        max-height: 220px;
        transition: 1s;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {

}

@media screen and (max-width: 767px) {
    .about__container {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
}
.about__list {
    font-size: 1rem;
}
.about__img {
    margin-bottom: 5%;
}
.about__photo,
.about__certificate {
    overflow-x: scroll;
}

}