// *{
//     border: 1px solid sienna;
// }
.main {
    &__banner {
    display: grid;
    grid-template-columns: 40% 60%;

    padding: 0 6%;
    }

    &__photo {
        justify-self: end;

        width: 80%;
        border-radius: 30px;
    }

    &__text {
        padding: 10% 15%;
    }

    &__title {
        font-family: $title-font;
        font-weight: 500;
        line-height: 150%;
        font-size: 2.2rem;

        color: $text-color;

        &_vivid {
            color: $vivid-warm-color;
            padding: 0;
        }
    }
    
    &__slogan {
        margin: 5% auto 12% auto;
        font-family: $main-font;
        font-size: 1.2rem;

        color: $text-color;
    }

    &__button {
        font-family: $main-font;
        font-size: 1.2rem;

        a {
            text-decoration: none;
            color: white;
        }

        &_about {
            padding: 1.5% 8%;
            border-radius: 10px;
            border: none;

            background-color: $pastel-warm-color;

            &:hover {
                padding: 1.5% 10% ;
                background-color: $vivid-warm-color;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .main {
        &__text {
            padding: 10%;
        }
    
		&__photo {
            width: 100%;
		}

		&__title {
            font-size: 1.3rem;
        }

        &__slogan {
            font-size: 1rem;
        }

        &__button {
            font-size: 1rem;
        }
}
}

@media screen and (max-width:767px) {
    .main {

		// .main__banner

		&__banner {
            display: flex;
            margin-top: 3%;
            background-image: url(../img/photo_banner.png);
            background-size: 100%;
            background-repeat: no-repeat;
            min-height: 75vh;
		}

		// .main__photo

		&__photo {
            display: none;
		}

        &__text {
            background-color: #E6E6FA95;
            // background-color: #2F4F4F80;
            border-radius: 15px;
            margin-top: 70%;
            padding: 4%;
            text-align: center;
        }

		// .main__title

		&__title {
            font-size: 1.2rem;
            // background-color: #E6E6FA90;
            color: darken($text-color, $amount: 10%);
            // margin: 89% auto 0 auto;

            &_vivid {
                // background-color: #E6E6FA00;
                color: darken($vivid-warm-color, $amount: 10%);
            }
		}

		// .main__text

		&__slogan {
            font-size: 0.8rem;
            // background-color: #E6E6FA90;
            color: darken($text-color, $amount: 10%);
            // margin: 0 auto;
            margin: 5%;
            
		}

		// .main__button

		&__button {
            // background-color: #E6E6FA90;
            

			// .main__button_about

			&_about {
			}
		}
}

}