.header {
    display: grid;
    grid-template-columns: 5% 1fr 60%;
    align-items: center;

    min-height: 6rem;
    padding: 0 6%;
    margin-bottom: 2%;

    &__logo {
        width: 90%;
    }

    &__title {
        align-self: end;
        margin-left: 0;
        
        font-family: $main-font;
        font-style: italic;
        font-size: 1.5rem;

        color: $text-color;
    }

    &__nav {
        justify-self: end;
        display: flex;
        justify-content: space-between;
        width: 80%;

        font-family: $main-font;

        a {
            text-decoration: none;
            padding: 0.5% 2%;
            border-radius: 10px;

            background-color: $pastel-cold-color;
            color: white;

            &:last-child {
                background-color: $pastel-warm-color;
            }

            &:hover {
                background-color: $vivid-cold-color;
                &:last-child {
                    background-color: $vivid-warm-color;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .header {
        font-size: 0.8rem;

        &__title {
            width: 80%;
            font-size: 1rem;
        }

        &__nav {
            width: 100%;
        }
    }
}
