.main {

    &_intro {
        margin: 5% auto;
    }

    &__subtitle {
        margin-bottom: 3%;

        font-family: $title-font;
        font-weight: 500;
        font-size: 3rem;

        text-align: center;
        color: $text-color;
    }

    &__video {
        margin-left: 6%;
        border-radius: 30px;
        width: 50%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .main {
        &__subtitle {
            font-size: 1.6rem;
        }
    }
}

@media screen and (max-width:767px) {
    .main {
        &__subtitle {
            font-size: 1.4rem;
        }

        &__video {
            margin-left: 5%;
            width: 90%;
        }
    }
}
