// блок "к уроку"
.main__training-materials {
    color: $text-color;
    max-width: 1200px;
    max-height: 570px;
    margin-top: 1rem;
    margin-bottom: 2em;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/cube.png), url(../img/formula.png);
    background-repeat: no-repeat;
    background-position: bottom 7px left 5px, top right;
    background-color: rgba(236, 229, 229, 0.37);
    border: none;
    border-radius: 1em;
}

.main__training-materials_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.main__training-materials_title {
    padding: 2%;
    text-align: center;
    font-family: $title-font;
    font-size: 2em;
    font-weight: 600;
}

.main__training-materials_card {
    max-width: 200px;
    min-width: 100px;
    margin: 0.7rem;
    text-align: center;

    .card-text {
        margin-top: 15%;
    }

    .card-img-top {
        border-radius: 1em;
    }
}

.main__training-materials_button {
    background-color: $pastel-warm-color;
    display: block;
    width: 100%;
    border-radius: 0.375rem;
    ;
    padding: 6px 12px;
    text-decoration: none;
    color: #FFF;
}

.main__training-materials_button:hover {
    background-color: $vivid-warm-color;
    color: #FFF;
}

.main__training-materials_button:focus {
    box-shadow: 0 0 0 0.25rem rgba(rgb(49, 132, 253), .5);
}

// адаптив "К уроку"
@media screen and (max-width: 1023px) {
    .main__training-materials {
        background-image: url(../img/formula_small.svg), url(../img/formula_green.svg);
        background-position: center right 5px, center left 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    .main__training-materials {
        max-width: 95%;
    }

    .main__training-materials_title {
        margin: 1rem auto;
        font-size: 1.5em;
    }

    .main__training-materials_card {
        min-height: 150px;
        margin: 0.7rem;
    }
}

@media screen and (max-width: 767px) {
    .main__training-materials {
        max-width: 100%;
    }

    .main__training-materials_title {
        margin: 1rem auto;
        font-size: 1.5em;
    }

    .main__training-materials_card {
        max-width: 150px;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 369px) {
    .main__training-materials_container {
        flex-direction: column;
        align-items: center;
    }
}

// страницы "Презентации", "Самостоятельные работы" и "Контрольные работы"
.self-training,
.tests,
.presentations {
    color: $text-color;
    padding: 25px 6%;
}

.links__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
}

.training-material__title {
    color: $vivid-warm-color;
    text-align: center;
    padding-bottom: 6%;
}

.nth-grade__category {
    width: 350px;
}

.training-material__link {
    text-decoration: none;
    color: $pastel-warm-color;
    display: flex;
    flex-direction: column;
}

.training-material__link:hover {
    color: $pastel-cold-color;
}

.training-material__link:visited {
    color: $vivid-cold-color;
}

// адаптив страниц

@media screen and (max-width: 767px) {
    .links__container {
        grid-template-columns: 1fr;
        justify-items: left;
    }

    .nth-grade__category {
        width: auto;
    }
}