/*video block*/
.video-block {
    display: flex;
    flex-direction: column;

    max-width: 1200px;
    max-height: 647px;

    margin-left: auto;
    margin-right: auto;

    /* background-color: $block-bg-color; */
    background-color: rgba(236, 229, 229, 0.37);
    border: none;
    border-radius: 1em;
    /* box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37),
        inset 0px 4px 16px rgba(255, 255, 255, 0.503); */
}

.video-title {
    margin: 2rem auto;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-left: 1rem;
    margin-right: 1rem;
    overflow-y: scroll;
}

.video-container::-webkit-scrollbar {
    display: none;
}

.card {
    max-width: 200px;
    min-width: 100px;

    min-height: 250px;

    margin: 0.5rem;
    text-align: center;
    border: none;
    background-color: rgba(236, 229, 229, 0.37);
}

.card-img-top {
    object-fit: cover;
    max-height: 250px;
}

.card-body {
    min-height: 200px;
    padding: 1rem 1rem 0;
}

.card-body_test {
    min-height: 80px;
    padding: 1rem;
}

.card-body_oge {
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.btn-primary_sp {
    margin: 1em;

    border: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FF9190;
    --bs-btn-border-color: #FF9190;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FF4F55;
    --bs-btn-hover-border-color: #FF4F55;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FF4F55;
    --bs-btn-active-border-color: #FF4F55;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FF4F55;
    --bs-btn-disabled-border-color: #FF4F55;
}

@media screen and (min-width: 1024px) and (max-width:1300px) {
    .video-block {
        max-width: 95%;
        max-height: 460px;
        margin-left: auto;
        margin-right: auto;
    }

    .card-body {
        min-height: fit-content;
    }

    .card-text,
    .card-title {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video-block {
        max-width: 95%;
        max-height: 430px;
        margin-left: auto;
        margin-right: auto;
    }

    .video-title {
        margin: 1rem auto;
        font-size: 1.5em;
    }

    .card {
        min-height: 150px;
        margin: 0.7rem;
    }

    .card-body {
        min-height: fit-content;
    }

    .card-text,
    .card-title {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .video-block {
        max-width: 100%;
        max-height: 360px;
/*         margin-left: auto;
        margin-right: auto; */
    }

    .video-title {
        margin: 1rem auto;
        font-size: 1.5em;
    }

    .card {
        max-width: 150px;
        margin: 0.5rem;
    }

    .card-body {
        min-height: fit-content;
    }

    .card-text,
    .card-title {
        display: none;
    }
}